<%- include("../includes/header.ejs", {title:"Account - View All"}); %>

<h1>Account</h1>
<a href="/account/add">Add New account</a> &ndash; Click this link to create a new account! <br />

<br />
<nav>
<table border="1">
    <tr><th>Email</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/account/?account_id=<%= result[i].account_id %>"><%=result[i].email %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/account/edit/?account_id=<%= result[i].account_id %>'">Edit</button>
            <form action="/account/delete/" style="display:inline;">
                <input type="hidden" name="account_id" id="account_id" value="<%= result[i].account_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
</nav>
<article>
    <h1>Welcome to the Accounts Page!</h1>
Here is where you can find a list of all the accounts and their information on one page. If you do not have an
account with us already click the add account button at the top of the page and create one.
</article>
<%- include("../includes/footer.ejs"); %>