<%- include("../includes/header.ejs", {title:"Account - " + result[0].email}); %>
<h1>Accounts</h1>
<ul>
    <li>Accounts: <%= result[0].email %> </li>
    <li>First Name:<%=result[0].first_name%> </li>
    <li>Last Name:<%=result[0].last_name%> </li>
</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>