<%- include("../includes/header.ejs", {title:"Account - Select One"}); %>


<form action="/resume/add" method="get">
<h1>Select Account email to add a resume:</h1>
<br />
<select id="account_id" name="account_id" >
    <% for(var i=0; account.length > i; i++ ) { %>
    <option value="<%= account[i].account_id %>"><%= account[i].email  %></option>
    <% } %>
</select>

<br />

<input type="submit" />

<%- include("../includes/footer.ejs"); %>