<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<h1>Add New Resume to an existing Resume!</h1>
<form action="/resume/insert" method="post">
    <input type="hidden" id="account_id" name="account_id" value="<%= account %>">
    Resume name:<input id="resume_name" name="resume_name" type ="text" />
    <br />
    <br />
    School

    <select id="school_id" name="school_id" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) {
            var selected = "";

            if(school[i].account_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= school[i].school_id %>" <%= selected %> ><%= school[i].school_name %></option>

        <% } %>
    </select>

    <br />
    <br />
    Company
    <select id="company_id" name="company_id" multiple="multiple" >
        <% for(var i=0; company.length > i; i++ ) {
            var selected = "";

            if(company[i].account_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= company[i].company_id %>" <%= selected %> ><%= company[i].company_name %></option>

        <% } %>
    </select>
    <br />
    <br />
    Skillz
    <select id="skill_id" name="skill_id" multiple = "multiple" >
        <% for(var i=0; skill.length > i; i++ ) {
            var selected = "";

            if(skill[i].account_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= skill[i].skill_id %>" <%= selected %> ><%= skill[i].skill_name %></option>

        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#skill_id').multiselect();})

    </script>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company_id').multiselect();})
    </script>
    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#school_id').multiselect();})
    </script>



    <br />
    <br />
    <input type="submit" />



</form>
<%- include("../includes/footer.ejs"); %>