<%- include("../includes/header.ejs", {title:"Resume - View All"}); %>

<h1>Resume</h1>
<a href="/resume/SelectUser">Add New Resume</a> &ndash; Click this link to add Resume to our data base.<br />

<br />
<nav>
<table border="1">
    <tr><th>Resume</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/resume/?resume_id=<%= result[i].resume_id %>"><%=result[i].resume_name %></a></td>
        <td><a href="/resume/?resume_id=<%= result[i].resume_id %>"><%=result[i].first_name %></a></td>
        <td><a href="/resume/?resume_id=<%= result[i].resume_id %>"><%=result[i].last_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/resume/edit/?resume_id=<%= result[i].resume_id %>'">Edit</button>
            <form action="/resume/delete/" style="display:inline;">
                <input type="hidden" name="resume_id" id="resume_id" value="<%= result[i].resume_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
</nav>
<article>
    <h1> Resume builder!</h1>
    Welcome to the resume builder. here you can see all the resumes in our data base and even create one of your own!
    <strong>Note!! You will need to have made an account before doing this.</strong>
</article>
<%- include("../includes/footer.ejs"); %>