<%- include("../includes/header.ejs", {title:"Resume"}); %>
<h1>Resume</h1>
<ul>
    <li>resume Name: <%= result[0].resume_name %></li>
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].resume_name  %></li>
            <% } %>
        </ul>

</ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>