<%- include("./includes/header.ejs", {title: title}); %>

    <h1>Insert Cool Resume Builder App Name Here!</h1>
    <p>Welcome to the totally awesome resume builder!</p>
    <nav>
    <a href="/company/all">Companies - View All</a> &ndash; This link will take you our companies page.
    <br />
    <a href="/account/all">Account - View All</a> &ndash; This link will take you to our accounts page.
    <br />
    <a href="/address/all">Address - View All</a> &ndash; This link will take you to our address page.
    <br />
    <a href="/skill/all">Skills - View All</a> &ndash; This link will take you to our skills page.
    <br />
    <a href="/resume/all"> Resume - View All</a> &ndash; This link will take you to out Resume building page!
    </nav>
<article>
    <h1>Welcome!</h1>
    This is a resume building web application that allows the user to views our database of companies, school, and skills
    with their account and build a resume that suits their own personal history. We have designed this website so that if
    we have missed any important skills, companies, or schools you can add them right in!
    You can begin building you resume the resume view all link below!
</article>
<%- include("./includes/footer.ejs"); %>
