<%- include("../includes/header.ejs", {title:"Skill - View All"}); %>

<h1>Skill</h1>
<a href="/skill/add">Add New Skill</a> &ndash; Click this link to add a skill to our data base.<br />

<br />
<nav>
<table border="1">
    <tr><th>Street</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/skill/?skill_id=<%= result[i].skill_id %>"><%= result[i].skill_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/skill/edit/?skill_id=<%= result[i].skill_id %>'">Edit</button>
            <form action="/skill/delete/" style="display:inline;">
                <input type="hidden" name="skill_id" id="skill_id" value="<%= result[i].skill_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
</nav>
<article>
    <h1>Welcome to the Skills page!</h1>
    This is where you can veiw all of the skills with in our data base and can even add your own skills into our data base using the add link above.
</article>
<%- include("../includes/footer.ejs"); %>