<%- include("../includes/header.ejs", {title:"Address - View All"}); %>

<h1>Address</h1>
<a href="/address/add">Add New Address</a> &ndash; Click this link to add adress to our data base.<br />

<br />
<nav>
<table border="1">
    <tr><th>Street</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/address/?address_id=<%= result[i].address_id %>"><%= result[i].street %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/address/edit/?address_id=<%= result[i].address_id %>'">Edit</button>
            <form action="/address/delete/" style="display:inline;">
                <input type="hidden" name="address_id" id="address_id" value="<%= result[i].address_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
</nav>
<article>
<h1> Welcome to the adrees page!</h1>
This page shows all of the adresses we have for schools and companies in our data bade is we are missing any or have an incorrect adress
feel free to add or edit for us!</article>
<%- include("../includes/footer.ejs"); %>